<!DOCTYPE html>
<html lang="en">
<head>
<link rel="stylesheet" href="../static/form.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="../static/app.js"></script>
 <link rel="stylesheet" href="../static/style.css">
  <title>Welcome to my app</title>
</head>
<body>

<form class="form1" id="login_form">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"><br><br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"><br><br>
  <input type="submit" value="Login">
  <button onclick=window.location.href="/signup">Sign Up</button>
</form>
  <script>
  document.getElementById('login_form').addEventListener('submit', function(event) {
    event.preventDefault(); // prevent the form from submitting normally
    const formData = new FormData(event.target); // get the user input data
    const formProps = Object.fromEntries(formData);
    console.log(formProps)
    loginUser(formProps); // call the createUser function with the data
  });
</script>


</body>
</html>


